.App {
  width: 100%;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.Container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
